<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 mb-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos setembro - Resumo
          </h6>
        </div>
        <div class="card-body">
          <canvas class="mb-3" baseChart [data]="setembroData" [labels]="setembroLabels"
            [chartType]="setembroType" [options]="setembroOptions" [colors]="setembroColors" [legend]="setembroLegend">
          </canvas>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de Atendidos
              <span class="badge badge-success badge-pill">64.3%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de não atendidos
              <span class="badge badge-danger badge-pill">32.7%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4 mb-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos outubro - Resumo
          </h6>
        </div>
        <div class="card-body">
          <canvas class="mb-3" baseChart [data]="outubroData" [labels]="outubroLabels"
            [chartType]="outubroType" [options]="outubroOptions" [colors]="outubroColors" [legend]="outubroLegend">
          </canvas>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de Atendidos
              <span class="badge badge-success badge-pill">27.5%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de não atendidos
              <span class="badge badge-danger badge-pill">72.5%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4 mb-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos novembro - Resumo
          </h6>
        </div>
        <div class="card-body">
          <canvas class="mb-3" baseChart [data]="novembroData" [labels]="novembroLabels"
            [chartType]="novembroType" [options]="novembroOptions" [colors]="novembroColors" [legend]="novembroLegend">
          </canvas>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de Atendidos
              <span class="badge badge-success badge-pill">82.3%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              % de não atendidos
              <span class="badge badge-danger badge-pill">17.7%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Total de Atendimentos por Mês
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/meses.jpeg" target="_blank">
            <img src="assets/meses.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos setembro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/setembro.jpeg" target="_blank">
            <img src="assets/setembro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos outubro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/outubro.jpeg" target="_blank">
            <img src="assets/outubro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos novembro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/novembro.jpeg" target="_blank">
            <img src="assets/novembro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
