<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Total de Atendimentos por Mês
          </h6>
        </div>
        <div class="card-body">
            <a href="assets/meses.jpeg" target="_blank">
                <img src="assets/meses.jpeg" alt="" class="img-fluid">
              </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos setembro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/setembro.jpeg" target="_blank">
            <img src="assets/setembro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos outubro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/outubro.jpeg" target="_blank">
            <img src="assets/outubro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-dark">
            Atendimentos novembro
          </h6>
        </div>
        <div class="card-body">
          <a href="assets/novembro.jpeg" target="_blank">
            <img src="assets/novembro.jpeg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
