<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-dark">
        Smartmaps - Altamira
      </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="row mb-3 mx-auto col-xl-6">
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Ativos</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-success"></i>
                  <h6 class="text-right">&nbsp;4781</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Prospecção</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-danger"></i>
                  <h6 class="text-right">12</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Migração</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-warning"></i>
                  <h6 class="text-right">25</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Aguardando</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-primary"></i>
                  <h6 class="text-right">10</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 mx-auto col-xl-6">
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Bloqueados</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-dark"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Desistência</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-secondary"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Cancelado</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-darkly"></i>
                  <h6 class="text-right">40</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Offline</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-terciary"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xl-6">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-box text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CTO</h6>
              <h6 class="card-text mb-3">Portas (Atendimento)</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              CTO
              <span class="badge badge-warning badge-pill text-dark">977</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Livre
              <span class="badge badge-warning badge-pill text-dark">10365</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Usadas
              <span class="badge badge-warning badge-pill text-dark">4973</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total
              <span class="badge badge-warning badge-pill text-dark">15338</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-6">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-highlighter text-warning mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CEO</h6>
              <h6 class="card-text mb-3">Portas</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              CEO
              <span class="badge badge-warning badge-pill text-dark">121</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Livre
              <span class="badge badge-warning badge-pill text-dark">50</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Usadas
              <span class="badge badge-warning badge-pill text-dark">586</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total
              <span class="badge badge-warning badge-pill text-dark">636</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-code-branch text-primary mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CABOS</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tamanho dos cabos cadastrados
              <span class="badge badge-warning badge-pill text-dark">735698.00</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-images text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">IMAGENS</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tamanho das imagens
              <span class="badge badge-warning badge-pill text-dark">0</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fab fa-hubspot text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">POSTES</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Postes cadastrados
              <span class="badge badge-warning badge-pill text-dark">0</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-dark">
        Smartmaps - Medicilândia
      </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="row mb-3 mx-auto col-xl-6">
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Ativos</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-success"></i>
                  <h6 class="text-right">589</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Prospecção</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-danger"></i>
                  <h6 class="text-right">1</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Migração</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-warning"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Aguardando</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-primary"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 mx-auto col-xl-6">
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Bloqueados</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-dark"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Desistência</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-secondary"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Cancelado</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-darkly"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <h6 class="card-text text-center">Offline</h6>
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-user text-terciary"></i>
                  <h6 class="text-right">0</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xl-6">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-box text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CTO</h6>
              <h6 class="card-text mb-3">Portas (Atendimento)</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              CTO
              <span class="badge badge-warning badge-pill text-dark">140</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Livre
              <span class="badge badge-warning badge-pill text-dark">708</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Usadas
              <span class="badge badge-warning badge-pill text-dark">714</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total
              <span class="badge badge-warning badge-pill text-dark">1422</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-6">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-highlighter text-warning mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CEO</h6>
              <h6 class="card-text mb-3">Portas</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              CEO
              <span class="badge badge-warning badge-pill text-dark">6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Livre
              <span class="badge badge-warning badge-pill text-dark">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Usadas
              <span class="badge badge-warning badge-pill text-dark">32</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total
              <span class="badge badge-warning badge-pill text-dark">32</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-code-branch text-primary mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">CABOS</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tamanho dos cabos cadastrados
              <span class="badge badge-warning badge-pill text-dark">77455.40</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fas fa-images text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">IMAGENS</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tamanho das imagens
              <span class="badge badge-warning badge-pill text-dark">0</span>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <i class="fab fa-hubspot text-dark mx-auto mb-3" style="font-size: 34px"></i>
              <h6 class="card-text">POSTES</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Postes cadastrados
              <span class="badge badge-warning badge-pill text-dark">0</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
