<div class="container-fluid">
  <br>
  <div class="container mb-3">
    <div class="row justify-content-end">
      <button class="btn btn-success mx-3" data-toggle="modal" data-target="#newplan">Inserir novo plano</button>
    </div>
    <div class="modal fade" id="newplan" tabindex="-1" aria-labelledby="newplan" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newplan">Novo Plano</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form action="" autocomplete="off">
                <div class="row">
                  <div class="form-group col-xl-6 col-md-12">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" [(ngModel)]="planoForm.descricao"
                      id="descricao" autofocus>
                  </div>
                  <div class="form-group col-xl-6 col-md-12">
                    <label for="descricao">Valor</label>
                    <input type="number" class="form-control" id="descricao" name="valor" step="0.010"
                      [(ngModel)]="planoForm.valor">
                  </div>
                  <div class="form-group col-xl-6 col-md-12">
                    <label for="municipio">Município</label>
                    <select name="municipio" id="municipio" class="form-control" [(ngModel)]="planoForm.municipio">
                      <option value="">Selecione...</option>
                      <option *ngFor="let item of municipios" value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="novoPlano()">Salvar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table-striped table-hover table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Município</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of planos; index as i">
            <td>{{item.id}}</td>
            <td>{{item.descricao}}</td>
            <td>R$ {{item.valor | number: '1.2-3'}}</td>
            <td>{{item.municipio}}</td>
            <td>
              <button class="btn btn-sm btn-danger mx-2 mb-2" (click)="deletePlano(item.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
