<div class="container-fluid">
  <br>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        Controle de Acesso
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h6 class="h6">Dashboard - NOC</h6>
          <div class="row">
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Torres</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel2">
                  <label class="form-check-label" for="nivel2">
                    Torres - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Torres - Remover
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel10">
                  <label class="form-check-label" for="nivel10">
                    Torres - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Torres - Exibir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Rádios</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel4">
                  <label class="form-check-label" for="nivel4">
                    Rádios - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel5">
                  <label class="form-check-label" for="nivel5">
                    Rádios - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel6">
                  <label class="form-check-label" for="nivel6">
                    Rádios - Excluir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Equipamentos</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Equipamentos - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Equipamentos - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Equipamentos - Excluir
                  </label>
                </div>
              </ul>
            </div>
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Cabos</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Cabos - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Cabos - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Cabos - Excluir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Caixas</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Caixas - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Caixas - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Caixas - Excluir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Links</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Links - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Links - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Links - Excluir
                  </label>
                </div>
              </ul>
            </div>
          </div>

          <hr>
        </div>
        <div class="col-xl-6 col-lg-6">
          <h6 class="h6">Dashboard - Comercial</h6>
          <div class="row">
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Relatórios</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Relatórios - Exibir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Relatórios - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel2">
                  <label class="form-check-label" for="nivel2">
                    Relatórios - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Relatórios - Remover
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Vendas</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel4">
                  <label class="form-check-label" for="nivel4">
                    Vendas - Exibir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel5">
                  <label class="form-check-label" for="nivel5">
                    Vendas - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel6">
                  <label class="form-check-label" for="nivel6">
                    Vendas - Excluir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Planos</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Planos - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Planos - Exibir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Planos - Excluir
                  </label>
                </div>
              </ul>
            </div>
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Vendedores</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Vendedores - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Vendedores - Exibir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Vendedores - Excluir
                  </label>
                </div>
              </ul>
            </div>
          </div>

          <hr>
        </div>
        <div class="col-xl-6 col-lg-6">

          <h6 class="h6">Dashboard - Frotas</h6>
          <div class="row">
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Carros</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel2">
                  <label class="form-check-label" for="nivel2">
                    Carros - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Carros - Remover
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Carros - Inserir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Combustível</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel4">
                  <label class="form-check-label" for="nivel4">
                    Combustível - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel5">
                  <label class="form-check-label" for="nivel5">
                    Combustível - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel6">
                  <label class="form-check-label" for="nivel6">
                    Combustível - Excluir
                  </label>
                </div>
              </ul>
              <ul>
                <p class="badge badge-dark">Quilometragem</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Quilometragem - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Quilometragem - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Quilometragem - Excluir
                  </label>
                </div>
              </ul>
            </div>
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Equipes</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel7">
                  <label class="form-check-label" for="nivel7">
                    Equipes - Inserir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel8">
                  <label class="form-check-label" for="nivel8">
                    Equipes - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel9">
                  <label class="form-check-label" for="nivel9">
                    Equipes - Excluir
                  </label>
                </div>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-xl-6 col-lg-6">

          <h6 class="h6">Dashboard - Comercial</h6>
          <div class="row">
            <div class="col-xl-6">
              <ul>
                <p class="badge badge-dark">Resumo</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Resumo - Exibir
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel2">
                  <label class="form-check-label" for="nivel2">
                    Resumo - Alterar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="nivel3">
                  <label class="form-check-label" for="nivel3">
                    Resumo - Inserir
                  </label>
                </div>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
